In [1]:
print("Hello world!")

Hello world!

In [1]:
#program to add two number 
a=int(input("Enter first number "))
b=int(input("Enter second number "))
print("Sum is ",a+b)

Enter first number 12
Enter second number 14
Sum is  26

In [3]:
#sqroot of a number
import math
n=int(input("Enter a number "))
a=print(math.sqrt(n))

Enter a number 25
5.0

In [5]:
#area of a triangle
b=int(input("Enter the base "))
h=int(input("Enter the height "))
area=print((1/2)*b*h)

Enter the base 12
Enter the height 13
78.0

In [7]:
#swaping two number
a=int(input("Enter the first number "))
b=int(input("Enter the secod number "))
print("Number before swap ", a ,b)
a,b=b,a 
print("Number after swap" ,a ,b)

Enter the first number 12
Enter the secod number 23
Number before swap  12 23
Number after swap 23 12

In [9]:
#convert km to mile 
n=int(input("Enter the distance in km "))
mile=0.625*n
print("Distance in mile is  ",mile)

Enter the distance in km 1000
Distance in mile is   625.0

In [11]:
#convert tempreture celsius to fahrenheit
c=int(input("Enter the tempreture in celsius"))
f=(c*(9/5))+32
print("tempreture in fahrenheit is ",f)

Enter the tempreture in celsius37
tempreture in fahrenheit is  98.60000000000001

In [13]:
#check a number negative postive or zero
n=int(input("Enter a  number "))
if n>0:
    print("number is postive")
elif(n==0):
    print("Number is zero ")
else:
    print("Number is negative")

Enter a  number 12
number is postive

In [15]:
#check a number even or odd
n=int(input("Enter a number "))
if n%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number 13
Number is odd

In [17]:
#check a year leap year or not
year=int(input("Enter a year "))
if year%400==0:
    print("year is leap year ")
elif year%100==0:
    print("year is not leap yaer ")
elif year%4==0:
    print("year is leap year ")
else:
    print("year is not a leap")

Enter a year 2000
year is leap year

In [20]:
#check the biggest number among three
a=int(input("Enter first number "))
b=int(input("Enter second number "))
c=int(input("Enter third number "))
if a>b and a>c:
    print("a is gretest number ")
elif b>c:
    print("b is gretest number ")
else:
    print("c is gretest number ")

Enter first number 12
Enter second number 87
Enter third number 49
b is gretest number

In [22]:
#check a number prime or not
n=int(input("Enter a number "))
flag=0
for i in range (2,n):
    if n%i==0:
        flag=1 
if flag==0:
    print(n,"is prime number")

Enter a number 29
29 is prime number

In [26]:
#check prime number in a given intervel

st=int(input("Enter starting point"))
en=int(input("Enter ending point"))
for i in range(st,en+1,1):
    flag=0
    for j in range(2,i):
        if i%j==0:
            flag=1
    if flag==0:
        print(i)

Enter starting point100
Enter ending point200
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [28]:
#factorial of a number
n=int(input("Enter a number "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial is ",fact)

Enter a number 6
factorial is  720

In [25]:
# program to find the factor
n=int(input("Enter a number "))
li=[]
for i in range(1,n+1):
    if n%i==0:
        li.append(i)
print("Factor of ",n,"is ", li)

Enter a number 100
Factor of  100 is  [1, 2, 4, 5, 10, 20, 25, 50, 100]

## simple calculator program
print("1.add")
print("2.subtract")
print("3.multyply")
print("4.divide")
a=int(input("Enter first number "))
b=int(input("Enter second number "))
while True:
    choice=int(input("Enter your choice(1/2/3/4)"))
    if choice==1:
        print(a,"+",b,"is ",(a+b))
    elif choice==2:
        print(a,"-",b, "is",(a-b))
    elif choice==3:
        print(a,"*",b,"is",(a*b))
    elif choice==4:
        print(a,"//",b,"is",(a//b))
    print("Are you want to do another operation (Yes or no)")
    op=input("yes/no")
    if op=='no':
        break

In [6]:
# find the divisibilty of another number
a=int(input("Enter the first number "))
b=int(input("Enter second number "))
if a%b==0:
    print(a,"is divisible by",b)

Enter the first number 12
Enter second number 6
12 is divisible by 6

In [19]:
# power of 2 using anonymous function
n=int(input("enter a number "))
print(pow(n))

pow=lambda n:n**2

enter a number 2
4
None

In [22]:
# 32.fibbonacci sequnce using recursion
def fib(a):
    if a==0 or a==1:
        return a
    else:
         return fib(a-1)+fib(a-2)
n=int(input("Enter the number up to series be print "))
for i in range(n+1):
    print(fib(i))

Enter the number up to series be print 10
0
1
1
2
3
5
8
13
21
34
55

In [18]:
import calendar
year=int(input("Enter the year "))
month=int(input("Enter the month"))
print(calendar.month(year,month))

Enter the year 2021
Enter the month9
   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [30]:
# sum of n natural number by using recursion
def sum(x):
    s=0
    if x==0:
        return s
    else:
        return s+x+sum(x-1)
n=int(input("enter a number up to sum be print "))
print(sum(n))

enter a number up to sum be print 10
55

In [31]:
# factorial of a number using recursion
def fact(x):
    f=1
    if x==0 or x==1:
        return 1
    else:
        return x*fact(x-1)
 
n=int(input("Enter a number "))
print(fact(n))

Enter a number 5
120

In [39]:
# convert a decimal number to binary by recursion
def dec_bin(x):
    if x>=1:
        dec_bin(x//2)
    print(x%2,end="")
      
if __name__ == '__main__':
    num=int(input("Enter a decimal  number "))
    print("The binary number is " ) 
    dec_bin(num)

Enter a decimal  number 12
The binary number is
01100

In [42]:
# 36.add of two matrix
mat1=[1,3,5],[2,4,7],[23,13,22]
mat2=[2,45,34],[12,13,14],[11,10,12]
mat3=[0,0,0],[0,0,0],[0,0,0]

for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        mat3[i][j]=mat1[i][j]+mat2[i][j]
print(mat3)

([3, 48, 39], [14, 17, 21], [34, 23, 34])

In [ ]:
mat1=[]
tra=[]
r=int(input("Enter the number of row "))
c=int(input("Enter the number of coloum"))
print("Enter the element of matrix ")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    mat1.append(a)   
   
    
    '''logic for transpose '''
for i in range(c):
    for j in range(r):
        tra[i][j]=mat1[j][i]
        
for i in range(2):
    for j in range(1):
        print(tra[i][j],end=' ')
    print()

In [54]:
s1=input("Enter a string ")
l1=len(s1)
s2=[]
for i in range(l1-1,-1,-1):
    s2.append(s1[i])

def list_string(s2):
    s=''
    return(s.join(s2))

print(list_string(s2))   
if s1==list_string(s2):
    print("palindrom")

Enter a string nitin
nitin
palindrom

In [3]:
#program to  multiply two matrix
import numpy as np
r1=int(input("Enter number of row in first matrix "))
c1=int(input("Enter number of coloumn in first matrix "))
r2=int(input("Enter number of row in second matrix "))
c2=int(input("Enter number of coloumn in second matrix "))
mat1=[]
mat2=[]
mul=[]
for i in range(r1):
    a=[]
    for i in range(c1):
        a.append(int(input()))
    mat1.append(a)    
for i in range(r2):
    b=[]
    for i in range(c2):
        b.append(int(input()))
    mat2.append(b)        
if c1==r2:
    mul=np.dot(mat1,mat2)
for i in range(r1):
    for j in range(c1):
        print(mul[i][j],end=' ')
    print()

Enter number of row in first matrix 3
Enter number of coloumn in first matrix 3
Enter number of row in second matrix 3
Enter number of coloumn in second matrix 3
1
2
3
4
5
6
7
8
9
12
11
10
2
4
7
8
6
4
40 37 36
106 100 99
172 163 162

In [ ]:
s1= "Gfg, is best : for ! Geeks ;"
punc= !()-[]{};:\,<>./?@#$%^&*_~
for ele in s1:
    if ele in punc:
        s1=s1.replace(j,"")
print(s1)

In [2]:
#sort words by alphabetically order
s=input("Enter a string ")
li=[]
li=s.split()
li.sort()
print(li)

Enter a string zebra banana orange grapes apple van
['apple', 'banana', 'grapes', 'orange', 'van', 'zebra']

In [1]:
#print pyramid pattern
for i in range(6):
    for j in range(6-i):
        print(end=" ")
    for k in range(i):
        print("*",end="")
    for l in range(i-1):
        print("*",end='')
    print()

     *
    ***
   *****
  *******
 *********

In [6]:
#merge two dictionaries
d1={1:"Apple",2:"orange",3:"grapes"}
d2={4:"Dog",5:"cat",6:"fish"}
d={}
d={**d1,**d2}
print(d)

{1: 'Apple', 2: 'orange', 3: 'grapes', 4: 'Dog', 5: 'cat', 6: 'fish'}

In [12]:
# flat list from nested list
def flat(_2d_l):
    l1 = []
    for element in _2d_l:
        if type(element) is list:
            for item in element:
                l1.append(item)
        else:
            l1.append(element)
    return l1

nested_list = [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
print('Original List', nested_list)
print('Transformed Flat List', flat(nested_list))

Original List [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
Transformed Flat List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#access index of a list using for loop 
l1=[1,7,8,34,78,25,9,98,32,17]
for i in range(len(l1)):
    print(l1[i])

1
7
8
34
78
25
9
98
32
17

In [18]:
#slice a list

lis=[23,45,67,89,24,56,78,84,12,30,27,63]
print(lis[::])
print(lis[5:])
print(lis[:8])

[23, 45, 67, 89, 24, 56, 78, 84, 12, 30, 27, 63]
[56, 78, 84, 12, 30, 27, 63]
[23, 45, 67, 89, 24, 56, 78, 84]

In [19]:
#illustrate diffrent set operation

a={10,20,30,40,50,60,70}
b={33,44,51,10,20,50,30,33}
print(a|b)        #union of two set
print(a&b)        #intersection of two set
print(a-b)         #difference of two set
print(b-a)
print(a^b)
print(a>=b)
print(b<=a)
print(a )

{33, 70, 40, 10, 44, 50, 51, 20, 60, 30}
{10, 50, 20, 30}
{40, 60, 70}
{33, 51, 44}
{70, 33, 40, 44, 51, 60}
False
False